<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921654116431-9d3j81lgbhah6lh6pvgmk302lj8b3b1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921654116431-9d3j81lgbhah6lh6pvgmk302lj8b3b1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCcJyXzK8Q1fQp4ouqrH2Asuoys71Rjgpc</string>
	<key>GCM_SENDER_ID</key>
	<string>921654116431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AA.CuteChat</string>
	<key>PROJECT_ID</key>
	<string>cutechat-6bac2</string>
	<key>STORAGE_BUCKET</key>
	<string>cutechat-6bac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921654116431:ios:112e9c958cf5e8695e2a3a</string>
	<key>DATABASE_URL</key>
	<string>https://cutechat-6bac2.firebaseio.com</string>
</dict>
</plist>